@c: gray;
@bg: darkgray;
@transport: rgba(255, 150, 50, 0.6);
body {
    background-color: @c;
    -webkit-user-select: none;
    cursor: pointer;
}

.matrix {
    .matrixHeading {
        display: flex;
        .matrixName {
            flex-basis: 20%;
        }
        .matrixTimeSeries {
            display: flex;
            flex-basis: 80%;
            .value {
                flex-basis: 10px;
                flex-grow: 1;
                &.active {
                    background-color: @transport;
                }
            }
        }
    }
    .matrixRow {
        display: flex;
        background-color: @bg;
        &:focus {
            outline: 0;
            background-color: darken(@bg, 5%);
        }
        &:focus .activeCol {
            background-color: lighten(@c, 50%);
        }
        .matrixRowName {
            flex-basis: 20%;
            background-color: darken(@bg, 50%);
            color: darken(@bg, 10%);
            text-shadow: -1px 1px 8px darken(@bg, 20%), 1px -1px 8px darken(@bg, 20%);
            text-align: center;
        }
        .matrixRowValues {
            display: flex;
            flex-basis: 80%;
            .rowValue {
                flex-basis: 10px;
                flex-grow: 1;
                text-align: center;
            }
        }
    }
}